<h1>Listing employees</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.street_address %></td>
        <td><%= employee.city %></td>
        <td><%= employee.state %></td>
        <td><%= employee.zip_code %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td>
        <td><%= link_to 'Show', employee, class: 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>

<%= link_to 'New Employee', new_employee_path %>
