<h1>Listing appointments</h1>



<div class="media">
  <div class="media-body">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>Physician</th>
      <th>Patient</th>
      <th>Date</th>
      <th>Reason</th>
      <th>Note</th>
      <th>Employee</th>
      <th>Diagnostic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.physician.first_name %>
          <%= appointment.physician.last_name %></td>
        <td><%= appointment.patient.first_name %>
          <%= appointment.patient.last_name %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.employee_id %></td>
        <td><%= appointment.diagnostic.code %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>

<%= link_to 'New Appointment', new_appointment_path %>
