<p id="notice"><%= notice %></p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.first_name %>
  <%= @appointment.physician.last_name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.first_name %>
  <%= @appointment.patient.last_name %>

</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>


<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @appointment.employee_id %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic.code %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
